.cartpage_main_container {
  width: 90%;
  position: relative;
  margin: auto;
  height: 80vh;
}

@media screen and (max-width: 400px) {
  .cartpage_main_container {
    width: 96%;
  }
}
@media screen and (max-width: 800px) {
  .imageof_nocartitem {
    width: 90%;
  }
}
