.searchbar_main_container {
  width: 100%;
  margin: auto;
}
.searchbar_main_container input {
  width: 50%;
  border: none;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 3px;
  border-bottom: 1px solid black;
  margin-right: 10px;
  height: 40px;
  text-align: start;
}
.searchbar_main_container input:active {
  border: none;
  border: 0px;
}
.filtericon {
  margin-left: 20px;
  font-size: 20px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  .filtericon {
    display: initial;
    opacity: 1;
    visibility: visible;
  }
}
