.Singlecartbox_main_container {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: auto;
  height: 120px;
  border-radius: 7px;
  margin-bottom: 10px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cartbox_price_name_container {
  position: absolute;
  top: 20px;
  left: 150px;
}
.cartbox_qty_container {
  position: absolute;
  right: 60px;
  top: 30px;
}

.Singlecartbox_main_container img {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 10px;
  left: 20px;
  top: 10px;
  margin: auto;
}
.delete_cart_item_button {
  position: absolute;
  right: 20px;
  top: 15px;
}

.delete_cart_item_button:hover {
  cursor: pointer;
  color: red;
}
@media screen and (max-width: 900px) {
  .Singlecartbox_main_container {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .Singlecartbox_main_container img {
    width: 80px;
    left: 0px;
  }
  .cartbox_price_name_container {
    left: 90px;
  }
  .cartbox_qty_container {
    right: 10px;
    top: 45px;
  }
}
